<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <contact>
      <friction_anchor/>
      <lateral_friction value="0.6"/>
      <spinning_friction value="0.0001"/>
      <rolling_friction value="0.0001"/>
    </contact>
    <inertial>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
       <mass value="0.175"/>
       <inertia ixx="1e-3" ixy="0" ixz="0" iyy="1e-3" iyz="0" izz="1e-3"/>
    </inertial>
    <visual>
      <origin rpy="0 1.57 1.57" xyz="0 -0.125 0"/>
      <geometry>
        <mesh filename="textured.obj" scale="1.0 0.9 0.9"/>
      </geometry>
      <material name="white">
        <color rgba="1. 1. 1. 1."/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.57 1.57" xyz="0 -0.125 0"/>
      <geometry>
    	 	<mesh filename="collision_vhacd.obj" scale="1.0 0.9 0.9"/>
      </geometry>
    </collision>
  </link>
</robot>
