<robot name="table">
    <link name="table_base_link">
      <contact>
        <lateral_friction value="0.5"/>
        <rolling_friction value="0.75"/>
      </contact>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.9 0.5 0.0075"/>
        </geometry>
        <material name="">
          <color rgba="0.7 0.7 0.7 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
           <box size="0.9 0.5 0.0075"/>
        </geometry>
      </collision>
    </link>
</robot>